<section class="login-page">
	<div class="navbar navbar-inverse navbar-fixed-top">
    	<div class="container">
        	<div class="navbar-header">
          	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
          	</button>
          	<a class="navbar-brand" href="index.html">Chlora</a>
        	</div>
	        <div class="navbar-collapse collapse">
	          	<ul class="nav navbar-nav navbar-right">
					<li><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#logInModal" >Sign In</button></li>
	          	</ul>
	        </div><!--/.nav-collapse -->
      	</div>
    </div>

    <div class="modal fade bs-modal-sm" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Log In</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
            <fieldset>
            <!-- Sign In Form -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="userid">Alias:</label>
              <div class="controls">
                <input required="" id="userid" name="userid" type="text" class="form-control input-medium" placeholder="User Name" ng-model="logInData.userName">
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="passwordinput">Password:</label>
              <div class="controls">
                <input required="" id="passwordinput" name="passwordinput" class="form-control input-medium" type="password" placeholder="********" ng-model="logInData.password">
              </div>
            </div>

            <!-- Multiple Checkboxes (inline) -->
            <div class="control-group">
              <label class="control-label" for="rememberme"></label>
              <div class="controls">
                <label class="checkbox inline" for="rememberme-0">
                  <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
                    Remember me
                </label>
              </div>
            </div>

            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="signin"></label>
            </div>
            </fieldset>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="logIn()">Sign In</button>
      </div>
    </div>
  </div>
</div>

    <div id="header">
		<div class="container">
			<div class="row">
			
			<!--
			  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
			-->
			<!-- Login Form
			  <div id="loginForm">
				<div class="col-lg-6 col-lg-offset-2 col-lg-push-4">
					<div class='form animated flipInX'>
					  <h2>Login To Your Account</h2>
					  <div class="form-group">
					    <input placeholder='Username' type='text'>
					    <input placeholder='Password' type='password'>
					   </div>
					   <button class='animated infinite pulse'>Login</button>
					  
					</div>
				</div>
				</div>
				-->

				
				<!-- Subscribe form -->
				<div class="col-lg-6 col-lg-offset-2 col-lg-push-4">
					<h1>Subscribe to preview Chlora</h1>
					<h2 class="subtitle">Want to get a sneak peak into the Chlora engine ?</h2>
					<form class="form-inline signup" role="form">
					  <div class="form-group">
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address" ng-model="subscribeEmail">
					  </div>
					  <button type="submit" class="btn btn-theme" ng-click="subscribeUser()">Subscribe Me</button>
					</form>
				</div>
				
				
				
				
				<div class="col-lg-4  col-lg-pull-6">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					  </ol>
					  <!-- slides -->
					  <div class="carousel-inner">
						<div class="item active">
						  <img src="assets/slide1.png" alt="">
						</div>
						<div class="item">
						  <img src="assets/slide2.png" alt="">
						</div>
						<div class="item">
						  <img src="assets/slide3.png" alt="">
						</div>
					  </div>
					</div>
				</div>
				
			</div>

		</div>
	</div>

	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
						<p class="copyright">This is gonna suck</p>
				</div>
			</div>
		</div>
	</div>

</section>