<section>
	<div class="navbar navbar-inverse">
    	<div class="container">
        	<div class="navbar-header">
          	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
          	</button>
          	<a class="navbar-brand" href="index.html">Chlora</a>
        	</div>
	        <div class="navbar-collapse collapse">
	          	<ul class="nav navbar-nav navbar-right">
					<li><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#logInModal" >Sign In</button></li>
	          	</ul>
	        </div><!--/.nav-collapse -->
      	</div>
    </div>
	<div class="search-box row">
		<form class="search-text">
			<div class= "col-md-8 col-md-offset-2">
				<input type="text" class="form-control input-medium" placeholder="Search For Doctors">
			</div>
			<a href="#/list">
				<div class="col-md-2">

					<button type="button" class="btn btn-default" aria-label="Left Align">
		  				<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					</button>
				</div>
			</a>
		</form>

	</div>
</section>